.daily-photos-grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.daily-photos-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.card img {
  max-width: 20rem;
}
.center {
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

@media (min-width: 650px) {
  .daily-photos-grid {
      grid-template-columns: 1fr 1fr;
  }
}
